@model Nop.Plugin.Widgets.HomePageNewProducts.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}
<form asp-controller="WidgetsHomePageNewProducts" asp-action="Configure" method="post" >
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configure plugin
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="ProductsCount" asp-input="ProductsCount" asp-store-scope="0" />
                    <nop-label asp-for="ProductsCount"  />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ProductsCount" />
                    <span asp-validation-for="ProductsCount"></span>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>