@model Nop.Plugin.Widgets.HomePageNewProducts.Models.PublicInfoModel
@{
    Layout = "";
}

<div class="slider-wrapper theme-custom">
    <div id="nivo-slider" class="nivoSlider">
        @Html.Label("HIIIII!");
    </div>
</div>